/* This ensures the smooth scrolling behavior of the application */
html{ 
  scroll-behavior: smooth
}

/* This is used to include padding and border in the width and height calculation. */
*{
  box-sizing: border-box;
}

body{
  background-color: #040714;
  color: #f9f9f9;

  font-family: Avenir-Roman, sans-serif;
}

/* Setting the colour of all anchor tags(i.e- links) to white and text-decoration:none removes the underline */
a{
  color:#f9f9f9;
  text-decoration: none;
}

/* Changing properties for different view screens to create responsiveness */

/*  This media query sets the font size to 16px when the viewport width is 769px or greater. */
@media only screen and (min-width: 769px) {
  body{
    font-size: 16px;
  }
}

/* This media query sets the font size to 15px when the viewport width is between 480px and 768px.*/
@media only screen and (min-width: 480px) and (max-width: 479px) {
  body{
    font-size: 15px;
  }
}

/*  This media query sets the font size to 14px when the viewport width is 479px or less. */
@media only screen and (max-width: 479px) {
  body{
    font-size: 14px;
  }
}
